body {
    background-color: black;
    font-family: "Helvetica Neue", sans-serif;
    text-align: left;
    color: white;
    margin: 0;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.container {
    width: 100%;
    margin: auto;
}

/* SECTION ONE */
.row-one {
    display: flex;
    flex-wrap: wrap;
}

.right-justified {
    justify-content: end;
    margin-left: 70px;
}

.column-section-one {
    flex: 0 0 50%;
    width: 31%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.intro {
    background: url(assets/img/icons-remastered-online-lp-d.jpg) top center/cover;
    height: 100vh;
}

.intro__title-large {
    font-size: calc(48px + (80 - 48) * ((100vw - 300px) / (2600 - 300)));
    font-weight: 500;
    line-height: 110%;
    margin-top: 10rem;
}

.intro__description {
    font-weight: 400;
    font-size: calc(18px + (20 - 18) * ((100vw - 300px) / (2600 - 300)));
    line-height: 1.7rem;
    max-width: 350px;
}


/* SECTION TWO */
.row-two {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 80px;
}

.column-section-two {
    flex: 0 0 50%;
    max-width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.jacket__title-3 {
    font-size: calc(21px + (28 - 21) * ((100vw - 300px) / (2600 - 300)));
    line-height: 110%;
    font-weight: 400;
    margin: auto;
}

.jacket__title-large {
    font-size: calc(30px + (80 - 30) * ((100vw - 300px) / (2600 - 300)));
    line-height: 110%;
    font-weight: 500;
    margin: auto;
}

.jacket__description {
    font-weight: 400;
    font-size: calc(17px + (20 - 17) * ((100vw - 300px) / (2600 - 300)));
    line-height: 160%;
    max-width: 352px;
    margin-bottom: 50px;
}

.img-fluid {
    max-width: 100%;
}

.hide-desktop {
    display: none;
}

.hide-mobile {
    display: block;
}

.jacket__btn {
    color: #2a2a2a;
    border-radius: 50px;
    border: none;
    padding: 18px 36px;
    background-color: white;
    font-weight: 500;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
}


/* MOBILE/RESPONSIVE STYLES */

@media only screen and (max-width: 1024px) {

    .column-section-one {
        width: 100%;
        flex: auto;
    }

    .right-justified {
        justify-content: normal;
        margin-left: 0;
    }

    .intro {
        background: url(assets/img/icons-remastered-online-lp-m.jpg) top center/cover;
        height: 80vh;
    }

    .intro__title-large {
        font-weight: 400;
        line-height: 100%;
        margin-top: 13rem;
    }

    .intro__description {
        font-weight: 300;
        line-height: 1.7rem;
        max-width: 300px;
        margin-top: 14rem;
    }

    .row-two {
        flex-direction: column-reverse;
        margin-top: 270px;
        align-items: normal;
    }

    .column-section-two {
        max-width: 100%;
        padding: 0;
    }

    .jacket__title-3 {
        margin-top: 50px;
        margin-bottom: 10px;
    }

    .jacket__description {
        font-weight: 300;
        max-width: 294px;
    }

    .jacket__btn {
        display: block;
        text-align: center;
        font-weight: 500;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 25px;
    }

    .hide-desktop{
        display: block;
    }

    .hide-mobile{
        display: none;
    }

    .ml {
        margin-left: 15px;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}